<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="AI QA Framework Suite">

    <listeners>
        <listener class-name="com.aiqaframework.test.ExecutionListener"/>
    </listeners>

    <test name="API Tests">
        <classes>
            <class name="com.aiqaframework.test.JuiceShopProductsApiTest"/>
            <class name="com.aiqaframework.test.JuiceShopLoginApiTest"/>
            <class name="com.aiqaframework.test.JuiceShopProductSearchApiTest"/>
            <class name="com.aiqaframework.test.JuiceShopProductDetailsApiTest"/>
            <class name="com.aiqaframework.test.JuiceShopRegistrationApiTest"/>
        </classes>
    </test>

    <test name="UI Tests">
        <classes>
            <class name="com.aiqaframework.test.JuiceShopHomePageTest"/>
            <class name="com.aiqaframework.test.LoginTest"/>
            <class name="com.aiqaframework.test.LogoutTest"/>
            <class name="com.aiqaframework.test.ProductSearchTest"/>
            <class name="com.aiqaframework.test.AddToCartTest"/>
            <class name="com.aiqaframework.test.ProductDetailsTest"/>
            <class name="com.aiqaframework.test.RegistrationTest"/>
        </classes>
    </test>

</suite>
